.level-text {

  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;      
  font-weight: 800;    
  text-align: center;
  line-height: 1.2;
  color:rgb(22, 81, 110);
}
.level-text2 {

  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;   
  font-weight: 800;     
  text-align: center;
  line-height: 1.0;
  color:rgb(22, 81, 110);
}