.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.question {  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #084738;
  line-height: 1.5;
}

.answers-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.answer {
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer.correct {
  background-color: #4caf50;
  color: white;
  border-color: #388e3c;
}

.answer.incorrect {
  background-color: #54100b;
  color: white;
  border-color: #d32f2f;
}

.answer:disabled {
  cursor: default;
  opacity: 0.8;
}

