.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.question {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(4, 48, 50);
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
  color: rgb(1, 18, 19);
}

.answer {
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer:hover {
  background-color: #94b8c2;
}

.answer.selected {
  background-color: #69a0a9; /* light green */
}

.answer.correct {
  background-color: #27ae60 !important; /* dark green */
  color: white;
}

.answer.incorrect {
  background-color: #893228 !important; /* red */
  color: white;
}
